.gridContainer{
    display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                place-content: center;
                max-width: 1140px;
                 width: 90%;
                margin: 0 auto;
                gap: 1.5em
}
.filter{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    font-weight: 300;
    flex-wrap: wrap;
    
}
.filter p{
    cursor: pointer;
}
.mostrarTodas{
    font-size: 20px;
    padding: 1em;
    height: max-content;
    width: max-content;
    margin-top: 50%;
    transform: translateY(-50%);
}
@media(max-width: 540px){
    .filter p{
        margin: 0 auto
    }
    .filter{
        margin: 25px auto
    }
}
.seccionContainer{
    position: relative;
    height: max-content;
    width: 100%;
    margin: 0 auto
}
