html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.acceso{font-weight: 700;}

.App{
  padding-bottom: 200px;
}



@media(max-width: 768px){
  #hidden{
    
    transform: translateX(100%);
    position: absolute;
    top: 120px;
    z-index: 5;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(5px);
  }
  #visible{
    transform: translateX(0);
    position: absolute;
    top: 120px;
    z-index: 5;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(5px);
  }
}
.banner{
  width: 100%;
  aspect-ratio: 3/1;
  min-height: 400px;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splideParallax{
  display: grid;
  place-content: center;
  width: 100%;
  position: absolute;
  height: 100%;
  grid-template-columns: 1fr;
 
}
.splideSlide h2{
  text-align: center;
  font-weight: 400;
  

}


